<div id="sidebar">
  <div id="subscribe">
    <a href="#">Subscribe Feed</a>
    <a href="http://twitter.com/usejquery">Follow on Twitter</a>
  </div>
  
  <% form_tag posts_path, :method => :get do %>
    <div>
      <%= text_field_tag :search, search_value %>
    </div>
    <div class="submit">
      <%= submit_tag "Search" %>
    </div>
  <% end %>
  
  <ul>
    <li class="categories">
      <h3>Categories</h3>
      <ul>
        <% @post_categories.each do |post_category| %>
          <li<%= is_active?(@post_category, post_category) %>>
            <%= link_to post_category.name, post_category_slug_path(post_category.id, post_category.slug) %>
          </li>
        <% end %>
      </ul>
      <div class="clear"></div>
    </li>
    <li class="latest_posts">
      <h3>Latest Posts</h3>
      <ul>
        <% @latest_posts.each do |post| %>
          <li><%= link_to post.title, post_slug_path(post.id, post.slug) %></li>
        <% end %>
      </ul>
    </li>
  </ul>
</div> <!-- #sidebar end -->
<div class="clear"></div>