<% title "Blog - #{@post.title}" %>

<div id="blog_single">
  <div class="entry">
    <h1><%= @post.title %></h1>
    <div class="meta">
      Posted <%= time_ago_in_words(@post.created_at) %> ago, <%= @post.created_at.strftime("%e. %B %Y") %>.
      In <%= @post.categories.collect{|c| link_to(c.name, post_category_slug_path(c.id, c.slug)) + ", "}.to_s.chop.chop %>.
      <% if admin? %><%= link_to "Edit", edit_post_path(@post) %>.<% end %>
    </div>
    
    <div class="content">
      <p class="excerpt"><%= @post.excerpt %></p>
      
      <%= @post.content %>
    </div>
  </div><!-- .entry end -->
</div> <!-- #blog_single end -->

<%= render "sidebar" %>