<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
  <head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <title><%= h(yield(:title) || "Untitled") %></title>
    
    <%= stylesheet_link_tag "reset", "application" %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js", "application" %>
    <%= yield(:head) %>
  </head>
  
  <body>
    <div id="wrapper">
      <div id="header">
        <a href="index.html" id="logo">Use jQuery - Community Showcase</a>
        <div id="switch">
          <a href="index.html" class="active">Community Showcase</a>
          <a href="blog.html">Blog</a>
        </div>
        
        <div id="user">
          <a href="register.html" id="join">Join</a>
          <span>or</span><a href="#login" id="login" class="textlink">log in</a>
          
          <div id="loginbox">
            <a href="#close">Close</a>
            
            <form>
              <div>
                <input type="text" class="blur" value="Username">
              </div>
              <div>
                <input type="password" class="blur" value="Password">
              </div>
              <div class="last">
                <input type="checkbox" id="remember"> <label for="remember">Remember Me</label>
                <input type="submit" value="Log In">
              </div>
            </form>
          </div>
        </div>
      </div> <!-- #header end -->
      
      <% flash.each do |name, msg| %>
        <div id="flash-<%= name %>" class="flash">
          <p><%= msg %></p>
        </div>
      <% end %>
      
      <%= yield %>
    </div> <!-- #wrapper end -->
  </body>
</html>
