<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
  <head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <title>Use jQuery - <%= h(yield(:title)) %></title>
    
    <%= stylesheet_link_tag "reset", "application" %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js", "application" %>
    <%= yield(:head) %>
  </head>
  
  <body>
    <div id="wrapper">
      <div id="header">
        <%= link_to "Use jQuery - Community Showcase", root_path, :id => "logo" %>
        
        <% if request.path_parameters["controller"] == "posts" %>
          <%= render "partials/header_blog" %>
        <% else %>
          <%= render "partials/header_showcase" %>
        <% end %>
      </div> <!-- #header end -->
      
      <% flash.each do |name, msg| %>
        <div id="flash-<%= name %>" class="flash">
          <p><%= msg %></p>
        </div>
      <% end %>
      
      <%= yield %>
      
      <div id="coming"><%# remove me once the showcase is online! %>
        Showcase Coming early 2010!
      </div>
    </div> <!-- #wrapper end -->
  </body>
</html>